@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #edfcff;
  color: #000000;
}

html.dark body {
  background-color: #121212;
  color: #ffffff;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
