@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #edfcff;
  color: #121212;
  font-family: 'Ubuntu Sans Mono', monospace;
}

html.dark body {
  background-color: #121212;
  color: #ffffff;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* custom utility classes */
.cu-bg-standard {
  @apply bg-[#edfcff] dark:bg-[#121212];
}

.cu-px-standard {
  @apply px-5 md:px-4;
}

/* range thumb custom color */
input[type='range']::-webkit-slider-thumb {
  @apply bg-cyan-700 dark:bg-cyan-600;
}
input[type='range']::-moz-range-thumb {
  @apply bg-cyan-700 dark:bg-cyan-600;
}
